<html>
<head>
    <title>After School Activities</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
            .card {
              border: 4px solid rgb(0, 0, 0);
              border-radius: 8px;
              transition: 0.3s;
              width: 30%;
              background-color: rgb(255, 255, 255);
              margin-bottom:30px;
              display: inline-block;
              margin-left:25px;
            }
            
            .card:hover {
              box-shadow: 0 8px 16px 0 rgba(33, 39, 2, 0.2);
            }
            body{
                background-color:rgb(255, 196, 0)
            }
            </style>
</head>
<body >
        
    <div id="app">
        <header style="background-color:rgb(0, 0, 0);font-family:monospace;height:100px">
            <img style="height:90px;display: flex;"src="static/header1.PNG"><br>
            <img style="height:50px;display:flex;margin-left:110px;margin-top:-80px;"src="static/header.PNG">
            <button style="margin-left:980px;margin-top:-50px;visibility: hidden;height:50px;border:4px solid white;border-radius:20px;width:200px;background-color:rgb(163, 156, 154);color:rgb(0, 0, 0);" id="cartbtn" v-on:click='showCheckout'>
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span>    Shopping Cart
            </button>
        </header>
        
        <main>
            <div v-if='showlesson'>
                    <div style="margin-left:370px;margin-bottom:10px;margin-top:20px;background-color:rgb(255, 55, 5);border:4px solid black;border-radius:30px;width:500px;" id="sortButtons">
                            <form style="margin-left:130px;margin-bottom:30px;color:rgb(255, 255, 255);width:500px;" >
                                <h2 style="color:white;margin-left:80;">Sort by:</h2>
                                
                                <input checked type="radio"  name="sort_button" v-model="sortItem.sortCategory" value="Subject" >
                                <label >Subject</label>
                                
                                <input type="radio" name="sort_button" v-model="sortItem.sortCategory" value="Price">
                                <label >Price</label>
                                
                                <input type="radio"  name="sort_button" v-model="sortItem.sortCategory" value="Location"  >
                                <label >Location</label><br><br>
                    
                                <input checked type="radio"  name="sort_option" v-model="sortItem.sortOrder" value="Ascending"  >
                                <label >Ascending</label>
                               
                                <input type="radio"  name="sort_option" v-model="sortItem.sortOrder" value="Descending"  >
                                <label >Descending</label>
                    
                                </form>
                                </div>
                <div id="webstore" class="card" v-for="lessons in Sort">
                   <h2 style="margin-left: 30px;font-family: Brush script MT;font-size:30px;color:rgb(0, 0, 0);" v-text="lessons.topic"></h2>
                    <figure>
                        <img  style="width: 300px;height:300px;margin-left:-20px;" v-bind:src="lessons.image">
                    </figure>
                    <p style="margin-left: 30px;color:rgb(0, 0, 0);">Location: {{lessons.location}}</p>
                    <p style="margin-left: 30px;color:rgb(0, 0, 0);">Price: {{lessons.price}}</p>
                    <p style="margin-left: 30px;color:rgb(0, 0, 0);">Available spaces: {{lessons.availableInventory -cartCount(lessons) }}</p>

                    <button style="margin-left:160px;margin-bottom:20px;height:50px;width:120px;background-color:rgb(8, 8, 8);color:rgb(255, 196, 0);border:4px solid rgb(255, 196, 0);border-radius:30px;" v-on:click='addToCart(lessons)' v-if='canAddToCart(lessons)'>Add to cart</button>
                   
                    <span style="margin-left: 30px;margin-bottom:20px;color:red;" v-if='lessons.availableInventory === cartCount(lessons)'>All out!</span>
                    <span style="color:blue;" v-else-if="lessons.availableInventory - cartCount(lessons) < 5">
                        Only {{lessons.availableInventory - cartCount(lessons)}} left!
                    </span>
                    <span style="color:blue;" v-else>Buy now!</span>
                </div> 
                
            </div>
            

            <div v-else>
                <div>
                <h2 style="margin-left: 30px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:30px;color:rgb(0, 0, 0);">Your Cart</h2>
                <div id="webstore" class="card" v-for="lessons in cart">
                       
                 <h2 style="margin-left: 30px;font-family: Brush script MT;font-size:30px;color:rgb(0, 0, 0);" v-text="lessons.topic"></h2>
                 <figure>
                     <img  style="width: 300px;height:300px;margin-left:-20px;" v-bind:src="lessons.image">
                 </figure>
                 <p style="margin-left: 30px;color:rgb(0, 0, 0);;">Location: {{lessons.location}}</p>
                 <p style="margin-left: 30px;color:rgb(0, 0, 0);;">Price: {{lessons.price}}</p>
                 <button style="margin-left:160px;margin-bottom:20px;height:50px;width:120px;background-color:rgb(209, 22, 22);color:rgb(255, 196, 0);border:4px solid rgb(255, 196, 0);border-radius:30px;"  v-on:click='RemoveItem(lessons)' >Remove</button>
            
                </div>
                <div id="chkout" style="background-color:rgb(255, 55, 5);border:4px solid black;border-radius:30px;">
                <h2 style="margin-left:530px;font-family:Brush script MT;font-size:40px;color:rgb(145, 144, 144);">Checkout</h2>
                        <form name="theform" style="margin-left:30px;color:white;">
                                <label >Name:</label>
                                <input style="width:480px" type="text" id="txtName" onkeypress="return Validate(event);" />
                                <span id="lblError"></span>
                                <label style="margin-left:30px;">  Phone No:</label>
                                <input style="width:480px" id="txtPhone" v-model="order.Phone" type="number" type="text" onKeyup="checkform()" /><br><br>
                        
                                </form> 
                                <button style="visibility: visible;margin-left:450px;margin-bottom:20px;height:40px;width:250px;background-color:rgb(8, 8, 8);color:rgb(255, 196, 0);border:4px solid rgb(255, 196, 0);border-radius:30px;" id="submitbutton" type="button" v-on:click='submitForm(cart)' >Submit</button>
                            
               </div>
            </div>
                                          
               
                <div   v-if='showlesson'>
                    <div v-for="lessons in Sort">
                        <h2 id="lessonSubject" v-text="lessons.topic"></h2>
                        <figure>
                            <img v-bind:src="lessons.image">
                        </figure>
                        <p v-html="lessons.location"></p>
                        <p>Price: {{lessons.price}}</p>
                    </div>
            </div>
        </main>
    </div>
    
    <script type="text/javascript">

        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'AFTER SCHOOL ACTIVITIES',
                lessons: [],
                cart: [],
                sortItem:{
                    sortCategory:'Subject',
                    sortOrder:'Ascending',
                },
                showlesson: true,
                order: {
                    Name: '',
                    Phone: '',
                    items:[],
               
                },
               
                
            },
         
            
            created:function(){
            console.log('requesting data from server..')

            fetch('https://cors-anywhere.herokuapp.com/cst3145coursework.herokuapp.com/collection/lessons').then(
                function (res) {
                    res.json().then(
                        function (json) {       
                                webstore.lessons = json;
                            });
                    })
              },

            methods: {
                addToCart(lessons) {
                    this.cart.push(lessons);
                    document.getElementById("cartbtn").style.visibility='visible';

                },
                RemoveItem(lessons) {
                  for(i=0;this.cart.length;i++){
                      if(this.cart[i].id==lessons.id){
                          this.cart.splice(i,1);
                      }
                  }
                   
                    
                },

                showCheckout() {
                    if (  this.showlesson = this.showlesson ? false : true)
                    document.getElementById("sortButtons").style.display='contents';
                    else 
                    document.getElementById("sortButtons").style.display='none';
                    document.getElementById("chkout").style.display='contents';

                },
                submitForm(cart) {
                    alert('Order submitted!');
                     
                var Name=document.getElementById("txtName").value;
                var Phone=document.getElementById("txtPhone").value;
                this.order.items.push(cart);
                var Cart=this.order.items[0];
        
                const newProduct={name: Name, phoneNumber: Phone,lessons:Cart};

                // set the url to your server and route
                fetch('https://cors-anywhere.herokuapp.com/cst3145coursework.herokuapp.com/collection/order', {
                method: 'POST', // set the HTTP method as 'POST'
                headers: {'Content-Type': 'application/json', // set the data type as JSON
 },
                body: JSON.stringify(newProduct), // need to stringify the JSON object
                })
                .then(response => response.json())
                .then(responseJSON => {
                });

//                 for(i=0;cart.length;i++){
//                 var lessonID=cart[i]._id;
//                 var Inventory=cart[i].availableInventory;
//                 var newInventory=Inventory-1;  
                
//                 // set the url to your server and route
//                 fetch('https://cors-anywhere.herokuapp.com/cst3145coursework.herokuapp.com/collection/lessons/'+lessonID, {
//                 method: 'PUT', // set the HTTP method as 'PUT'
//                 headers: {'Content-Type': 'application/json', // set the data type as JSON
//  },
//                 body: JSON.stringify({availableInventory=newInventory}), // need to stringify the JSON object
//                 })
//                 .then(response => response.json())
//                 .then(responseJSON => {
//                 });

//                 }          
                },

                canAddToCart(lessons) {
                    return lessons.availableInventory > this.cartCount(lessons);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
            },
            computed: {
                cartItemCount() {
                    return this.cart.length;
                },


            Sort() {
                
                let lessonsArray = this.lessons.slice(0);

                let sortC=this.sortItem.sortCategory;
                let sortO=this.sortItem.sortOrder;
                
                if ((sortC=="Subject")&&(sortO=="Descending")){
                    
                    function compare(a, b) {
                        if (a.topic > b.topic)
                            return -1;
                        if (a.topic < b.topic)
                            return 1;
                        return 0;
                    }
                    return lessonsArray.sort(compare);
                }
                 else if ((sortC=="Location")&&(sortO=="Ascending")){
                    function compare(a, b) {
                        if (a.location > b.location)
                            return 1;
                        if (a.location < b.location)
                            return -1;
                        return 0;
                    }
                    return lessonsArray.sort(compare);
                }
                else if ((sortC=="Location")&&(sortO=="Descending")){
                    function compare(a, b) {
                        if (a.location > b.location)
                            return -1;
                        if (a.location < b.location)
                            return 1;
                        return 0;
                    }
                    return lessonsArray.sort(compare);
                }
                else if ((sortC=="Price")&&(sortO=="Ascending")){
                    function compare(a, b) {
                        if (a.price > b.price)
                            return 1;
                        if (a.price < b.price)
                            return -1;
                        return 0;
                    }
                    return lessonsArray.sort(compare);
                }
                else if ((sortC=="Price")&&(sortO=="Descending")){
                    function compare(a, b) {
                        if (a.price > b.price)
                            return -1;
                        if (a.price < b.price)
                            return 1;
                        return 0;
                    }
                    return lessonsArray.sort(compare);
                }
                else if ((sortC=="Subject")&&(sortO=="Ascending")){
                    function compare(a, b) {
                        if (a.topic > b.topic)
                            return 1;
                        if (a.topic < b.topic)
                            return -1;
                        return 0;
                    }
                    return lessonsArray.sort(compare);
                }              
                               
            },

            
        }
    });
    
    function checkform()
{
    var f = document.forms["theform"].elements;
    var cansubmit = true;

    for (var i = 0; i < f.length; i++) {
        if (f[i].value.length == 0) cansubmit = false;
    }

    if (cansubmit) {
        document.getElementById('submitbutton').style.visibility = 'visible';
    }
}
function Validate(e) {
  var keyCode = e.keyCode || e.which;

  var lblError = document.getElementById("lblError");
  lblError.innerHTML = "";

  var regex = /^[A-Za-z]+$/;
  var isValid = regex.test(String.fromCharCode(keyCode));
  if (!isValid) {
      lblError.innerHTML = "";
  }
  return isValid;

}
    </script>
</body>

</html>